* {
    font-family: 'Poppins', sans-serif;
}

.reset__Pass__Container, .reset__Pass__Container form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.5rem;
}

.reset__Pass__Container form label, .reset__Pass__Container form input {
    display: block;
}

.reset__Pass__Container form input {
    outline: none;
    border: 1px solid grey;
    border-radius: 10px;
    padding: 10px 12px;
    transition: 0.3s ease-in-out;
}

.reset__Pass__Container form input:focus-within {
    border-color: blue;
}